<nav class="container">
    <a <%- current.source == 'index' ? 'class="active"' : '' %> href="/">Home</a>
    <a <%- current.source == 'blogs' ? 'class="active"' : '' %> href="/blogs">Blog</a>
    <a <%- current.source == 'contact-us' ? 'class="active"' : '' %> href="/contact-us">Contact</a>
</nav>