<nav class="container">
    <a <%- current.path[0] == 'index' ? 'class="active"' : '' %> href="/">Home</a>
    <a <%- current.path[0] == 'blogs' ? 'class="active"' : '' %> href="/blogs">Blog</a>
    <a <%- current.path[0] == 'contact-us' ? 'class="active"' : '' %> href="/contact-us">Contact</a>
</nav>